body{
    font-size: 30px;
}
#conteneur{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(23, 23, 240)
}
header{
    background-color: rgb(252, 57, 252);
    height: 100px;

}
nav{
    background-color: rgb(233, 44, 44);
    height: 30px;

}
section{
    background-color: darkviolet;
    height: 500px;
    margin: 20px;
}
footer{
    background-color:rgb(247, 27, 27);
    height: 100px;
    
}
.a , .b, .c, .d{
    width: 50%;
    height: 250px;
    float: left;
}
.a{ 
    background-color: darkviolet;
}
.b{
    background-color: rgb(34, 80, 178);

}
.c{
    background-color: gold;
}
    
.d{
    background-color: hotpink;
}
.clear:{
    clear: both;
}
